doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    
    .sidebar
      .intro
        .image
        h1.name Webber
        #intro
          h3 My intro
          p I am an engineering student who deeply loves programming. I can help you with your project. Feel free to contact.
        #contact
          h3 Contact me
          #icons
            a(href="https://www.facebook.com/vivek.padia.9", target="_blank").fa.fa-facebook.fa-3x
            a(href="https://twitter.com/vivekpadia70", target="_blank").fa.fa-twitter.fa-3x
            a(href="https://www.instagram.com/vivekpadia70/", target="_blank").fa.fa-instagram.fa-3x
      
    .content
      .sub-content
        h1 Services
        #services
          h2 Front-End
          p I use simple jade, sass and javascript to make front-end sites. And for high performance sites, i use angular framework for better performance.
          h2 Back-End
          p For server side performance i use NodeJS and its frameworks. So i can create complete mean stack websites for you. For database i would prefer MongoDB as it supports mean stack.
          h2 Wordpress
          p Apart from coding sites on my own, i can use different Wordpress templates to fulfill your needs which is also a great choice for small businesses and personal use. Have your own site to share experience with your friends and write some blogs.
        
        #Portfolio
          h1 Portfolio
          p From my little experience of past few years, i have made some of my projects which i would like to show you.
          #portfolio-images
            img(src="images/portfolio.png", alt="project1")
            img(src="images/portfolio.png", alt="project1")
            img(src="images/portfolio.png", alt="project1")
            
          
          
    footer.sitef
      #footer-content
        h1 Fork me on GitHub 
        a(href="https://github.com/vivekpadia70", target="_blank").fa.fa-github.fa-3x
      
